<div class="container">
    <div class="form">
        <p class="title-start">Register</p>
        <input class="textbox-start" placeholder="Username" type="text" [(ngModel)]="username">
        <br>
        <br>
        <input class="textbox-start" placeholder="Password" type="text" [(ngModel)]="password">
        <br>
        <br>
        <button class="button-start" (click)="register()">Register</button>
        <br>
        <br>
        <a class="a-start" (click)="goToLogin()">Go to login</a>
    </div>
</div>